@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';

@theme {
  /* Colors */

  --color-intea-teal-light: #22d4be;
  --color-intea-teal: #0bb8a5;
  --color-intea-teal-dark: #069487;
  --color-intea-teal-darker: #09766e;
  --color-intea-teal-darkest: #0f4e4a;

  --color-intea-orange-light: #ffd9b3;
  --color-intea-orange: #fb8b30;
  --color-intea-orange-dark: #ea5000;
  --color-intea-orange-darker: #c24200;
  --color-intea-orange-darkest: #7c290c;

  --color-intea-pink-light: #f466b1;
  --color-intea-pink: #ec3d94;
  --color-intea-pink-dark: #db1c71;
  --color-intea-pink-darker: #be0f58;
  --color-intea-pink-darkest: #831843;

  --color-intea-violet-light: #9e80fa;
  --color-intea-violet: #824ff6;
  --color-intea-violet-dark: #742ded;
  --color-intea-violet-darker: #661cd9;
  --color-intea-violet-darkest: #471595;

  --color-intea-gray-light: #fafaf9;

  --font-family: 'Urbanist', sans-serif;
}

html {
  scroll-behavior: smooth; /* Adiciona scroll suave para âncoras */
}

html,
body {
  font-family: var(--font-family);
  background-color: --var(--color-intea-gray-light);
}

/* Configuração de scroll suave para links com âncoras */
a[href^='#'] {
  scroll-margin-top: 100px; /* Espaço entre o topo da janela e o elemento de destino */
  transition: all 0.3s ease;
}

/* Estilos para os campos de formulário */
.contact-form input,
.contact-form textarea {
  background-color: #e6fff8;
  border: 1px solid transparent;
  font-size: 1.125rem;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--color-intea-teal-lighter);
  box-shadow: 0 0 0 2px rgba(11, 184, 165, 0.2);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9ca3af;
  font-weight: 300;
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
  border-radius: 1.5rem;
}

.contact-form label {
  font-weight: 700;
  color: var(--color-intea-teal-darker);
  margin-bottom: 0.25rem;
}

.contact-form .submit-button {
  background-color: var(--color-intea-teal-darker);
  color: white;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  border-radius: 9999px;
  transition: all 0.2s;
}

.contact-form .submit-button:hover:not(:disabled) {
  background-color: var(--color-intea-teal-darkest);
  transform: translateY(-1px);
}

.contact-form .submit-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
